@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    --primary-font:"Poppins", sans-serif;
    --primary-color:#21202A;
    --secondary-color:#545360;
    --active-color:#3936C4;
    --inactive-color:#FF8100;
    --hero-bg-color:#FFFCF5;
    --all-bg-color:#E4E4ED;
    font-size: 0.625rem;
}

body{
    font-family:var(--primary-font);
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
}
header a{
    font-size: 1.6rem;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 1.5rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}