@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    --primary-font:"Poppins", sans-serif;
    --primary-color:#21202A;
    --secondary-color:#545360;
    --active-color:#3936C4;
    --inactive-color:#FF8100;
    --hero-bg-color:#FFFCF5;
    --all-bg-color:#E4E4ED;
    font-size: 0.625rem;
}

body{
    font-family:var(--primary-font);
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
}
h1 {
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem;
    color: var(--primary-color);
}
h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 8rem;
    color: var(--primary-color);
}
h2{
    font-size: 5.2rem;
    font-weight: 600;
    line-height: 5.2rem;
    color: var(--primary-color);
}
h4{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.4rem;

}
h5{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: var(--primary-color);
}
h6{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.8rem;

}
p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
  }


header a{
    font-size: 1.6rem;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 1.5rem;
    padding-top: 4rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation{
    list-style: none;
    display: flex;
    gap: 4rem;
}
nav ul li a{
    color: var(--secondary-color);
    transition: all 0.3s ease;
    position: relative;
}
nav ul li a:hover{
    padding: 1rem 1.5rem;
    scale: 1.1;
    background-color: #323234;
    color: #FFFCF5;
    border-radius: 0.8rem;
    transform: translateY(-1rem);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.home{
    color: var(--active-color);
    font-weight: 600;
    line-height: 2.8rem;
}
.nav2{
    display: flex;
    gap: 2.8rem;
    text-align: center;
}

.nav2 a{
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: 1.3rem 2.9rem;
    
}
.btn{
    border: 1px solid var(--secondary-color);
    border-radius: 0.6rem;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: translateY(-0.5rem);
    scale: 1.1;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.hero{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 14rem;
    gap: 6rem;
}
header{
    background-color: var(--hero-bg-color);
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem; 
}
.batton{
    padding: 1.5rem 3.3rem;
    background-color: var(--active-color);
    color: white;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}
.batton:hover{
    scale: 1.1;
    transform: translateY(-0.8rem);
    box-shadow: 0px 36px 49px 24px rgba(0,0,0,0.1);
}

.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.8rem;
    padding-top: 10rem;
}
.Associated{
    display: flex;
    gap: 6rem;
    align-items: center;
    padding-bottom: 18rem;
}
.sec2{
    display: flex;
    flex-direction: column;
    gap: 7rem;
}
.sec2-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.8rem;
}
.sec2-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    padding-bottom: 18rem;
}
.sec2-content div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3.8rem 2.8rem;
    border: 0.1rem solid var(--all-bg-color);
    border-radius: 1.5rem;
    box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.sec2-content div:hover{
    scale: 1.1;
}
.sec2-content div img {
    width: 8.8rem;
    padding-bottom: 2rem;
}
.sec2-content div a{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
}
.sec3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 13rem;
    align-items: center;
    padding-bottom: 18rem;
}
.sec3-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.8em;rem;
}
.sec3-content a{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.0rem;
    text-align: center;

}
.right{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.right div{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.sec4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    padding-bottom: 18rem;
}
.sec4-hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.Offer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    row-gap: 4.2rem;
}
.location img{
    width: 1.257rem;
}
.soft img{
    width: 5.4rem;
}
.job-offer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.5rem;
    padding: 4.4rem 2.2rem;
    border: 0.1rem solid var(--all-bg-color);
    border-radius: 1.5rem;
    justify-content: space-between;
}
.job-offer:nth-child(2){
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
    border: none;
}
.head-location{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.2rem;
}
.time{
    display: flex;
    align-items: center;
    gap: 2.8rem;
}
.location{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.soft{
    display: grid;
    grid-template-columns:7fr 1fr;
    align-items: center
}
.name-date{
    display: flex;
    align-items: center;
    gap: 2.2rem;
}
.Full-time{
    color: var(--inactive-color);
    padding: 0.4rem 1rem;
    background-color: #FFF8F0;
    border-radius: 0.5rem;
}
.Apply{
    font-size: 1.6rem;
    padding: 1rem 2.2rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.7rem;
    transition: all 0.3s ease;
}
.Apply:hover{
    scale: 1.2;
}
.Fiverr-Apply{
    background-color: var(--active-color);
}
.Show-More{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.0rem;
    padding: 1.5rem 3.5rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1.5rem;
    transition: all 0.3s ease;
}
.Show-More:hover{
    background-color:white;
    color: var(--primary-color);
    border: 0.1rem solid var(--secondary-color);
}
.sec5{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding-bottom: 20rem;
}
.sec5-hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec5-hero-content{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.reviews{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.review{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4.4rem 2.2rem;
    border: 0.1rem solid var(--all-bg-color);
    border-radius: 1.5rem;
    transition: all 0.3s ease;
}
.review:nth-child(1){
    border: none;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
}
.review:hover{
    scale: 1.1;
    box-shadow: 0px 3px 6px 0px rgba(140, 149, 159, 0.15);
}
.image-star{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.image-star img{
    width: 7.4rem;
}
.star img{
    width: 2.2rem;
}
.star{
    display: flex;
}
.sec6{
    background-color: var(--active-color);
    padding: 10rem 5.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    margin:0 0 30rem 0;
}
.sec6 h2{
    color: white;
    font-size: 4.2rem;
}
.sec6 a{
    color:var(--active-color);
    font-size: 1.8rem;
    line-height: 4.2rem;
    padding: 1.5rem 2.4rem;
    background-color: white;
    border-radius: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}
.sec6 a:hover{
    color: white;
    background-color: var(--primary-color);
}
footer{
    background-image: url(Allimages/footer\ BG.png);
    padding-top: 14.5rem;
    padding-bottom: 4.8rem;
    border: none;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content h2{
    color: white;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5.2rem;
    position: relative;
}
.searchbar{
    display: flex;
    color: white;
    gap: 0.6rem;
    align-items: center;
    padding: 2.8rem 3.4rem;
    background-color: var(--active-color);
    border-radius: 1.5rem;
    transition: all 0.3s ease;
}
.searchbar:hover{
    scale: 1.1;
}
.line{
    border-top: #3E3C50 solid 0.3rem;
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4.2rem;
}
.footer-nav a{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: #B5BAC6;
    transition: all 0.3s ease;
}
.footer-nav a:hover{
    transform: translateY(-0.5rem);
    scale: 1.1;
}
@media(max-width: 768px){
    html{
        font-size: 0.5rem;
    }
    h1{
        font-size: 6.5rem;
        font-weight: 600;
        line-height: 7rem;
    }
    h2{
        font-size: 4.2rem;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        justify-content: space-between;
    }
    .navigation{
        list-style: none;
        display: flex;
        gap: 2.5rem;
    }
    .nav2 a{
        font-size: 1.6rem;
        line-height: 2.8rem;
        padding: 1rem 2rem;
        
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 4rem;
       
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4rem; 
        height: none;
    }
    .Associated{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        justify-items: stretch;

    }
    .sec1{
        padding-top: 7rem;
    }
    .sec2-content{
        display: flex;
        flex-direction: column;
    }
    .sec2-content div{
        box-shadow: inset rgba(0, 0, 0, 0.2) -16px -20px 20px -20px;
    }
    .sec3{
        display: flex;
        flex-direction: column-reverse;
    }
    .sec3-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.8em;rem;
    }
    .Offer{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .job-offer{
        box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
    }
    .job-offer:nth-child(2){
        box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
        border: 0.1rem solid var(--all-bg-color);
    }
    .reviews{
        display: flex;
        flex-direction: column;
    }
    .sec5-hero{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        text-align: center;
    }
    .review:nth-child(1){
        border: 0.1rem solid var(--all-bg-color);
        box-shadow: none;
    }
    .sec6{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        text-align: center;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

}